---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.div-example {
    background-color: rgb(250, 236, 209); /* Sets the background color */
    border: 1px solid #f8d080; /* Sets a solid border */
    border-radius: 15px; /* Rounds the corners of the border */
    padding: 20px; /* Adds space between the content and the border */
    margin-bottom: 20px;
}


.div-warning {
    background-color: rgb(255, 176, 176); /* Sets the background color */
    border: 1px solid #fb7070; /* Sets a solid border */
    border-radius: 15px; /* Rounds the corners of the border */
    padding: 20px; /* Adds space between the content and the border */
    margin-bottom: 20px;
}


.div-author-note {
    background-color: rgb(231, 230, 230); /* Sets the background color */
    border: 1px solid #999999; /* Sets a solid border */
    border-radius: 15px; /* Rounds the corners of the border */
    padding: 20px; /* Adds space between the content and the border */
    margin-bottom: 20px;
}


.div-interested {
    background-color: rgb(199, 255, 219); /* Sets the background color */
    border: 1px solid #72ffa1; /* Sets a solid border */
    border-radius: 15px; /* Rounds the corners of the border */
    padding: 20px; /* Adds space between the content and the border */
    margin-bottom: 20px;
}


.div-implementation {
    border: 1px solid #a0a0a0; /* Sets a solid border */
    padding: 20px; /* Adds space between the content and the border */
    margin-bottom: 20px;
}

.div-title {
    font-size: 20px;
}

hr {
    color: rgb(189, 189, 189);
    background-color: rgb(208, 208, 208);
    border: none;
    height: 2px;
    margin-bottom: 20px;
}

.hr-top {
    margin-bottom: 2px;
 }
